@function vw($px-vw, $base-vw: 750px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

.grid-image-text {
  .title {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
  }
  .account-title {
    color: #000;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
  }
  .desc {
    color: rgba(0, 0, 0, 0.93);
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
  }
}
@media (min-width: 1000px) {
  .grid-image-text {
    padding: 50px 0px 120px;
    .title {
      font-size: 48px;
      margin-bottom: 30px;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .grid-item {
      background: #fafafa;
    }
    .grid-item > img {
      width: 100%;
    }
    .content {
      padding: 33px;
      img {
        width: 45px;
        height: 45px;
      }
      .account-title {
        font-size: 18px;
        margin-top: 0px;
      }
      .desc {
        font-size: 16px;
      }
      .account {
        display: flex;
        align-items: center;
        column-gap: 10px;
        p {
          margin-top: 0px;
        }
        img {
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .grid-image-text {
    padding: vw(120px) 0;
    .title {
      margin-bottom: vw(60px);
      text-align: left;
      font-size: vw(56px);
      padding-left: vw(40px);
      line-height: normal;
    }
    .container {
      .account-title {
        margin-top: 0px;
      }
      display: flex;
      column-gap: vw(20px);
      overflow: auto;
      .grid-item {
        width: vw(326px);
        background-color: #fafafa;
        flex-shrink: 0;
        & > img {
          width: 100%;
          height: auto;
          display: block;
          margin-bottom: vw(24px);
        }
        .content {
          padding: vw(20px);
        }
        .account {
          display: flex;
          align-items: center;
          column-gap: vw(10px);
          margin-bottom: vw(10px);
          img {
            width: vw(32px);
            height: vw(32px);
            display: block;
          }
          p {
            font-size: vw(18px);
          }
        }
        .desc {
          margin-top: 0px;
          font-size: vw(16px);
        }
      }
    }
  }
}
