@function vw($px-vw, $base-vw: 750px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

.home-Introduction {
  background: #f0f2f4;
  .container {
    p {
      padding: 0;
      margin: 0;
    }
    .title {
      color: #000;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      text-align: center;
      margin: auto;
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item-title {
        color: #2b72ff;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        text-align: center;
      }
      .item-desc {
        color: #000;
        font-family: "Open Sans";
        text-align: center;
        font-style: normal;
        font-weight: 400;
      }
    }
    .grid-title {
      color: #000;
      text-align: center;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
    }
    .grid-desc {
      color: rgba(0, 0, 0, 0.93);
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
    }
  }
}
@media (min-width: 1000px) {
  .home-Introduction {
    padding: 70px 0 50px;
    .container {
      .title {
        font-size: 48px;
        margin-bottom: 44px;
        line-height: 57px;
      }
      .content {
        display: flex;
        justify-content: center;
        column-gap: 77px;
        align-items: center;
        .item-title {
          font-size: 32px;
        }
        .item-desc {
          font-size: 14px;
        }
      }
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      margin-top: 56px;
      gap: 20px;
      .grid-item {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 33px;
        border-radius: 6px;

        img {
          width: 120px;
          height: 120px;
          display: block;
          margin: 23px auto 20px;
          border-radius: 50%;
        }

        .grid-title {
          font-size: 18px;
        }
        .grid-desc {
          font-size: 16px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .home-Introduction {
    padding: vw(64px) 0;
    .container {
      padding: 0px vw(38px);

      .title {
        font-size: vw(45px);
        margin-bottom: vw(60px);
        line-height: normal;
        text-align: left;
      }
      .content {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: vw(35px) vw(40px);
        .item-title {
          font-size: vw(30px);
          text-align: left;
          line-height: normal;
          white-space: nowrap;
        }
        .item-desc {
          font-size: vw(20px);
          text-align: left;
          line-height: normal;
        }
      }
      .grid-container {
        margin-top: vw(50px);
        display: flex;
        overflow: auto;
        column-gap: vw(20px);
        .grid-item {
          width: vw(358px);
          flex-shrink: 0;
          background-color: #fff;
          img {
            width: vw(80px);
            height: vw(80px);
            margin: vw(47px) auto vw(28px);
            display: block;
            border-radius: 50%;
          }
          .grid-title {
            font-size: vw(20px);
            margin-bottom: vw(10px);
          }
          .grid-desc {
            font-size: vw(16px);
            padding: vw(10px);
          }
        }
      }
    }
  }
}
