@function vw($px-vw, $base-vw: 750px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

.home-grid {
  .subtitle {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
  }
  .link {
    color: #2b72ff;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
  }
  .container {
    .title {
      font-family: "Open Sans";
      text-align: center;
      font-weight: 700;
    }
    .content {
      display: grid;

      .item {
        position: relative;
        p,
        a {
          position: absolute;
          color: #000;
          text-align: center;
          width: 100%;
          padding: 0;
          margin: 0;
        }

        a {
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #2872ff;
        }
        .item-title {
          font-family: "Open Sans";
          font-weight: 700;
          color: #fff;
        }
        .item-desc {
          font-family: "Open Sans";
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .home-grid {
    .container {
      .title {
        font-size: 52px;
        max-width: 870px;
        margin: auto;
        margin-bottom: 40px;
        line-height: 67px;
      }
      .content {
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        .item {
          a {
            width: 200px;
            left: 50%;
            transform: translateX(-50%);
            top: 140px;
            column-gap: 5px;
          }
          .item-title {
            font-size: 40px;
            top: 25px;
          }
          .item-desc {
            font-size: 18px;
            top: 100px;
          }
        }

        .item:nth-child(1) {
          grid-column: 1 / -1;
        }
      }
      .subtitle {
        font-size: 24px;
        margin-top: 40px !important;
        margin-bottom: 0px !important;
      }
      .link {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .home-grid {
    padding: vw(60px) 0px;
    .container {
      .title {
        font-size: vw(54px);
        margin-bottom: vw(32px);
        line-height: normal;
        text-align: left;
      }
      .subtitle {
        font-size: vw(32px);
        text-align: center;
        max-width: vw(500px);
        margin: vw(20px) auto !important;
      }
      .link {
        font-size: vw(24px);
      }
      .content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: vw(20px);
        .item:nth-child(1) {
          grid-column: 1 / 1;
        }
        .item-title {
          top: vw(34px);
          font-size: vw(34px);
          left: 50%;
          transform: translateX(-50%);
        }
        .item-desc {
          font-size: vw(28px);
          text-align: center;
          top: vw(100px);
          max-width: vw(600px);
          margin: auto;
          left: 50%;
          transform: translateX(-50%);
        }
        a {
          top: vw(200px);
          font-size: vw(24px);
          column-gap: vw(20px);
          svg {
            width: vw(20px);
            height: vw(20px);
          }
        }
      }
    }
  }
}
