@function vw($px-vw, $base-vw: 750px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

@media (min-width: 1000px) {
  .update-faq {
    padding: 60px 0px;
    .container {
      h2.title {
        color: #333;
        font-family: "Open Sans";
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 44px;
        text-align: center;
      }
      .faq__item .collapsible-toggle,
      .collapsible__content {
        padding-left: 0px;
        padding-right: 0px;
      }
      button {
        font-family: "Open Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        &[aria-expanded="true"] {
          color: #2b72ff;
        }
      }
      .text-container {
        display: flex;
        align-items: flex-start;
        column-gap: 23px;
        flex-direction: column;
        span {
          font-family: "Open Sans";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          color: #333333;
        }
        p {
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #666;
          text-align: left;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .update-faq {
    padding: vw(60px) 0px;
    h2.title {
      text-align: center;
      font-family: "Open Sans";
    }
    p {
      text-align: left;
    }
    .faq__item {
      padding-left: 0px;
      padding-right: 0px;
    }
    button {
      font-family: "Open Sans";

      &[aria-expanded="true"] {
        color: #2b72ff;
      }
    }
  }
}
