<style>
  .last-timer .title {
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .last-timer .desc {
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
  }
  .last-timer .last-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .last-timer .last-time div div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    background: #2b72ff;
  }

  .last-timer .wrapper {
    width: fit-content;
  }

  .last-timer .wrapper span {
    text-align: center;
    color: #000;
    font-family: 'Open Sans';
    font-style: normal;
    display: block;
    width: 100%;
    font-weight: 400;
  }

  @media (min-width: 1000px) {
    .last-timer {
      padding: 72px 0px;
    }
    .last-timer .title {
      font-size: 48px;
    }
    .last-timer .desc {
      font-size: 24px;
    }
    .last-timer .last-time {
      margin-top: 24px;
      column-gap: 24px;
    }
    .last-timer .last-time div div {
      width: 120px;
      height: 120px;
      font-size: 40px;
      letter-spacing: 6px;
      border-radius: 8px;
    }
    .last-timer .wrapper span {
      font-size: 24px;
    }
  }
  @media (max-width: 1000px) {
    .last-timer {
      padding: 13.0666666667vw 0px;
    }
    .last-timer .title {
      font-size: 7.2vw;
    }
    .last-timer .desc {
      font-size: 3.7333333333vw;
    }
    .last-timer .last-time {
      margin-top: 3.2vw;
      column-gap: 3.2vw;
    }
    .last-timer .last-time div div {
      width: 16.8vw;
      height: 16.8vw;
      font-size: 5.3333333333vw;
      letter-spacing: 0.8vw;
      border-radius: 1.0666666667vw;
    }
    .last-timer .wrapper span {
      font-size: 4vw;
    }
  }
</style>

<div class='last-timer last-timer-{{ section.id }}'>
  <div class='contanier'>
    <h2 class='title'>{{ section.settings.title }}</h2>
    <p class='desc'>{{ section.settings.desc }}</p>
    <div class='last-time' data-time='{{ section.settings.time }}'>
      <div class='wrapper'>
        <div class='day'>00</div>
        <span>Days</span>
      </div>
      <div class='wrapper'>
        <div class='hour'>00</div>
        <span>Hours</span>
      </div>
      <div class='wrapper'>
        <div class='minute'>00</div>
        <span>Mins</span>
      </div>
      <div class='wrapper'>
        <div class='second'>00</div>
        <span>Secs</span>
      </div>
    </div>
  </div>
</div>
<script>
  const time = document.querySelector('.last-time').getAttribute('data-time');
  const day = document.querySelector('.day');
  const hour = document.querySelector('.hour');
  const minute = document.querySelector('.minute');
  const second = document.querySelector('.second');
  const timer = setInterval(() => {
    const now = new Date();
    const end = new Date(time);
    const diff = end - now;
    if (diff <= 0) {
      clearInterval(timer);
      day.innerHTML = 0;
      hour.innerHTML = 0;
      minute.innerHTML = 0;
      second.innerHTML = 0;
      return;
    }
    const d = Math.floor(diff / (1000 * 60 * 60 * 24)); // 天
    const h = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); // 小时
    const m = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60)); // 分钟
    const s = Math.floor((diff % (1000 * 60)) / 1000); // 秒
    day.innerHTML = d;
    hour.innerHTML = h;
    minute.innerHTML = m;
    second.innerHTML = s;
  }, 1000);
</script>
{% schema %}
{
  "name": "last-timer",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:Heading"
    },
    {
      "type": "text",
      "id": "desc",
      "label": "desc"
    },
    {
      "type": "text",
      "id": "time",
      "label": "time",
      "default": "2024-12-31T23:59:59"
    }
  ],

  "presets": [
    {
      "name": "last-timer"
    }
  ]
}
{% endschema %}
