store-header ul,
store-header p {
  padding: 0px;
  margin: 0px;
  color: #333;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}
store-header .item-name {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
store-header .item-desc {
  color: #6a6a6a;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 1000px) {
  mobile-navigation {
    display: none !important;
  }
  store-header {
    height: 56px;
  }
  store-header ul,
  store-header p {
    font-size: 16px;
  }
  store-header .header__inline-navigation {
    padding: 0px 60px;
    margin-inline: 0px;
  }
  store-header .line {
    height: 2px;
    background: #333;
    position: absolute;
    top: 52px;
    left: 0px;
    transition: all 0.3s ease;
  }
  store-header nav,
  store-header .container,
  store-header .nav,
  store-header .header__wrapper {
    height: 100%;
  }
  store-header .nav-bar {
    display: flex;
    align-items: center;
    margin: 0px;
    height: 100%;
  }
  store-header .nav-bar li {
    list-style: none;
    cursor: pointer;
  }
  store-header .nav-bar > li {
    display: flex;
    margin: 0px !important;
    align-items: center;
    padding: 0px 30px;
    height: 100%;
  }
  store-header .nav-bar > li.active .container-wrapper {
    opacity: 1;
    visibility: visible;
  }
  store-header .nav-bar .container-wrapper {
    width: 100%;
    opacity: 0;
    display: block;
    visibility: hidden;
    position: absolute;
    transition: all 0.1s ease;
    height: fit-content;
    background-color: #fff;
    border-top: 1px solid rgb(221, 221, 221);
    left: 50%;
    transform: translateX(-50%);
    top: var(--header-height);
  }
  store-header .nav-bar .container {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 0.3s ease;
    column-gap: 48px;
    display: flex;
  }
  store-header .nav-bar .left .list {
    overflow: auto;
    height: calc(100vh - var(--toggle-country-navigation-height, 0px) - var(--header-height, 0px) - var(--header-height, 0px));
    max-height: 700px;
  }
  store-header .nav-bar .left .list::-webkit-scrollbar {
    display: none;
  }
  store-header .nav-bar .left li {
    padding-left: 15px;
    width: 270px;
    height: 88px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: all 0.3s ease;
    position: relative;
  }
  store-header .nav-bar .left li img {
    width: 45px;
    height: 45px;
  }
  store-header .nav-bar .left li:hover {
    background: #f6f8fa;
  }
  store-header .nav-bar .left li .point {
    padding: 0px 6px;
    position: absolute;
    border-radius: 5px 5px 5px 0px;
    background: #ffaa2b;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    top: 25px;
    right: 60px;
  }
  store-header .nav-bar .right {
    flex: 1;
    height: auto;
  }
  store-header .nav-bar .right .menu-product {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  store-header .nav-bar .right .product-wrapper {
    display: none;
    overflow: overlay;
    height: calc(100vh - var(--toggle-country-navigation-height, 0px) - var(--header-height, 0px) - var(--header-height, 0px));
    max-height: 700px;
  }
  store-header .nav-bar .right .product-wrapper::-webkit-scrollbar {
    display: none;
  }
  store-header .nav-bar .right .product-wrapper.active {
    display: block;
  }
  store-header .nav-bar .menu-product {
    gap: 15px;
  }
  store-header .nav-bar .menu-product a {
    padding: 10px;
    background: #f5f5f5;
  }
  store-header .nav-bar .menu-product a img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: block;
  }
  store-header .nav-bar .menu-product a .item-name {
    font-size: 18px;
  }
  store-header .nav-bar .menu-product a .item-desc {
    font-size: 14px;
  }
  store-header .nav-bar .top {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  store-header .nav-bar .top p {
    margin: 0px;
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  store-header .nav-bar .top a {
    color: #2b72ff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  store-header .nav-bar .product-collection .collection-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  store-header .nav-bar .product-collection .collection-list li {
    padding: 10px;
    background: #f5f5f5;
  }
  store-header .nav-bar .product-collection .collection-list li img {
    margin-bottom: 20px;
  }
  store-header .nav-bar .product-collection .collection-list li .item-name {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  store-header .nav-bar .product-collection .collection-list li .item-desc {
    font-size: 14px;
  }
  store-header .nav-bar .solution {
    position: relative;
  }
  store-header .nav-bar .solution .container-wrapper {
    width: fit-content;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  }
  store-header .nav-bar .solution .container {
    width: fit-content;
    padding: 0px;
  }
  store-header .nav-bar .solution .container li {
    padding: 16px;
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  store-header .nav-bar .solution .container li a {
    white-space: nowrap;
  }
  store-header .nav-bar .solution .container li:hover {
    background: rgba(246, 247, 250, 0.96);
  }
  store-header .nav-bar .segmentation {
    width: 1px;
    height: auto;
    background-color: rgb(221, 221, 221);
    margin: 0 120px;
  }
  store-header .nav-bar .learn .container {
    padding-bottom: 50px;
    column-gap: 0px;
  }
  store-header .nav-bar .learn p {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
  }
  store-header .nav-bar .learn p svg {
    width: 35px;
  }
  store-header .nav-bar .learn li {
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 50px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }
  store-header .nav-bar .learn li:last-child {
    margin-bottom: 0px;
  }
  store-header .nav-bar .learn li:hover {
    color: #2b72ff;
  }
  store-header .nav-bar .support {
    margin-left: auto !important;
  }
  store-header .nav-bar .support .container {
    column-gap: 0;
    padding-bottom: 50px;
  }
  store-header .nav-bar .support ul {
    width: 220px;
  }
  store-header .nav-bar .support ul p {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 16px 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  store-header .nav-bar .support ul li {
    margin-bottom: 10px;
  }
  store-header .nav-bar .support ul li:last-child {
    margin-bottom: 0px;
  }
  store-header .nav-bar .support ul a {
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s ease;
    padding-left: 10px;
  }
  store-header .nav-bar .support ul a:hover {
    color: #2b72ff;
  }
  store-header .nav-bar .community {
    position: relative;
  }
  store-header .nav-bar .community .container-wrapper {
    width: 506px;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
  }
  store-header .nav-bar .community .container-wrapper img {
    width: 65px;
    height: 65px;
    display: block;
    margin: 0px auto 15px;
  }
  store-header .nav-bar .community .wrapper-content {
    display: flex;
  }
  store-header .nav-bar .community .wrapper-content p {
    max-width: 240px;
  }
  store-header .nav-bar .community .wrapper-content .title {
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
    text-align: center;
  }
  store-header .nav-bar .community .wrapper-content .desc {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 16px;
  }
  store-header .nav-bar .community .wrapper-content .btn {
    width: 70px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 3px;
    border: 1px solid #2b72ff;
    color: #2b72ff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
  }
  store-header .nav-bar .community .wrapper-content .line-community {
    width: 1px;
    height: 100px;
    background-color: #d0d0d0;
    margin: 61px 20px 0px;
  }
  store-header .nav-bar .community .wrapper-content .right p {
    max-width: 190px;
  }
  store-header .nav-bar .community .subtitle {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 360px;
    text-align: center;
    margin: 20px auto 0px;
  }
  .toggle-country-navigation {
    height: 40px;
    position: sticky;
    top: 0;
    display: block;
    background: #fafafa;
    z-index: 10;
  }
  .toggle-country-navigation toggle-navigation {
    display: block;
    height: 100%;
  }
  .toggle-country-navigation .container {
    height: 100%;
  }
  .toggle-country-navigation .toggle-country-popup {
    display: none;
  }
  .toggle-country-navigation .toggle-country-popup.active {
    display: block;
  }
  .toggle-country-navigation .mb-arrows {
    display: none;
  }
  .toggle-country-navigation .toggle-country {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 32px;
    height: 100%;
  }
  .toggle-country-navigation .toggle-country .contact-us {
    color: #333;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }
  .toggle-country-navigation .toggle-country .contact-us svg {
    display: none;
  }
  .toggle-country-navigation .toggle-country .select-country {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
  }
  .toggle-country-navigation .toggle-country .select-country p {
    color: #333;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
    white-space: nowrap;
  }
  .toggle-country-navigation .toggle-country .select-country svg {
    width: 20px;
    height: 20px;
  }
  .toggle-country-navigation .toggle-country-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .toggle-country-navigation .toggle-country-popup .popup-content {
    width: 1140px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100vh - var(--toggle-country-navigation-height, 0px) - var(--header-height, 0px) - var(--header-height, 0px));
    display: flex;
    flex-direction: column;
  }
  .toggle-country-navigation .toggle-country-popup .title {
    color: #000;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #959595;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: center;
    flex-shrink: 0;
  }
  .toggle-country-navigation .toggle-country-popup .title svg {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 29px;
    top: 34px;
    cursor: pointer;
  }
  .toggle-country-navigation .toggle-country-popup .content {
    padding: 48px 70px;
    overflow: auto;
  }
  .toggle-country-navigation .toggle-country-popup .content p {
    color: #4c4c4c;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
  }
  .toggle-country-navigation .toggle-country-popup .content ul:not(:last-child) {
    margin-bottom: 48px;
  }
  .toggle-country-navigation .toggle-country-popup .content ul {
    padding: 0px;
  }
  .toggle-country-navigation .toggle-country-popup .content .li-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .toggle-country-navigation .toggle-country-popup .content li {
    display: flex;
    width: 312px;
    height: 64px;
    background: #f6f8fa;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .toggle-country-navigation .toggle-country-popup .content li span {
    color: #4c4c4c;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .header__icon-list {
    display: none;
  }
  .header__logo {
    order: -1;
  }
}
@media (max-width: 1000px) {
  desktop-navigation {
    display: none;
  }
  store-header {
    height: 15.7333333333vw;
  }
  store-header .container,
  store-header .header__wrapper {
    height: 100%;
  }
  .toggle-country-navigation {
    display: none;
  }
  mobile-navigation {
    width: 100%;
    overflow: overlay;
    height: calc(100vh - var(--header-height));
    display: block;
    background-color: #fff;
    display: none;
  }
  mobile-navigation ul,
  mobile-navigation li,
  mobile-navigation p,
  mobile-navigation a {
    padding: 0px;
    margin: 0px;
  }
  mobile-navigation .nav-bar > li {
    border-bottom: 0.2666666667vw solid #ddd;
    color: #333;
    font-family: "Open Sans";
    font-size: 4.2666666667vw;
    font-style: normal;
    font-weight: 600;
    list-style: none;
  }
  mobile-navigation .nav-bar > li .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.8vw 5.3333333333vw;
  }
  mobile-navigation .nav-bar > li .menu svg {
    width: 4vw;
    height: 4vw;
    transition: all 0.3s ease;
  }
  mobile-navigation .nav-bar > li .container {
    display: none;
    padding: 0px;
  }
  mobile-navigation .nav-bar > li .container .product-content {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  mobile-navigation .nav-bar > li .product-wrapper {
    display: none;
  }
  mobile-navigation .active svg {
    transform: rotate(180deg);
  }
  mobile-navigation .active + .container {
    display: block !important;
  }
  mobile-navigation .product-bar {
    border-bottom: 0.2666666667vw solid #ddd;
    position: relative;
  }
  mobile-navigation .product-bar .point {
    padding: 0.4vw 0.8vw 0.5333333333vw;
    position: absolute;
    border-radius: 0.6666666667vw 0.6666666667vw 0.6666666667vw 0px;
    background: #ffaa2b;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.8666666667vw;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    top: 6.6666666667vw;
    right: 48vw;
  }
  mobile-navigation .menu-product {
    display: grid;
    column-gap: 2.6666666667vw;
    grid-template-columns: repeat(auto-fit, minmax(43.6vw, 1fr));
    overflow: overlay;
    padding-left: 5.3333333333vw;
  }
  mobile-navigation .menu-product a {
    width: 43.6vw;
    display: block;
  }
  mobile-navigation .menu-product img {
    width: 43.6vw;
    height: 33.3333333333vw;
    display: block;
    margin-bottom: 2.6666666667vw;
  }
  mobile-navigation .menu-product .item-name {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.6666666667vw;
  }
  mobile-navigation .menu-product .item-desc {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 2.6666666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  mobile-navigation .menu-product a {
    background: #f5f5f5;
    padding: 2vw;
  }
  mobile-navigation .top {
    display: flex;
    column-gap: 4.8vw;
    align-items: center;
    margin: 3.2vw 0px;
  }
  mobile-navigation .top p {
    font-family: "Open Sans";
    padding-left: 5.3333333333vw;
    font-size: 4.2666666667vw;
    font-style: normal;
    font-weight: 600;
  }
  mobile-navigation .top a {
    color: #2b72ff;
    font-family: "Open Sans";
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 600;
    text-decoration-line: underline;
  }
  mobile-navigation .collection-list {
    display: flex;
    column-gap: 2.6666666667vw;
    padding-left: 5.3333333333vw;
    overflow: auto;
    margin-bottom: 5.3333333333vw !important;
  }
  mobile-navigation .collection-list li {
    list-style: none;
    background: #f5f5f5;
    padding: 2vw;
  }
  mobile-navigation .collection-list li img {
    width: 43.7333333333vw;
    height: auto;
    display: block;
    margin-bottom: 2.6666666667vw;
  }
  mobile-navigation .collection-list li p {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  mobile-navigation .bar {
    display: flex;
    column-gap: 3.2vw;
    padding: 4.8vw 5.3333333333vw;
    align-items: center;
    color: #333;
    font-family: "Open Sans";
    font-size: 4.2666666667vw;
    font-style: normal;
    font-weight: 400;
  }
  mobile-navigation .bar:last-child {
    border: none;
  }
  mobile-navigation .bar img {
    width: 11.4666666667vw;
    height: 11.4666666667vw;
    display: block;
  }
  mobile-navigation .product-bar.active .bar {
    background: #f3f3f3;
  }
  mobile-navigation .product-bar.active .product-wrapper {
    display: block;
  }
  mobile-navigation .solution .menu + .container {
    background: #fafafa;
    padding: 4.2666666667vw 0px;
  }
  mobile-navigation .solution .menu + .container ul {
    padding-left: 6.6666666667vw;
  }
  mobile-navigation .solution .menu + .container ul li {
    list-style: none;
    color: #333;
    font-family: "Open Sans";
    font-size: 3.7333333333vw;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2.6666666667vw;
  }
  mobile-navigation .learn .menu + .container,
  mobile-navigation .support .menu + .container {
    background: #fafafa;
    padding: 4.2666666667vw 0px;
  }
  mobile-navigation .learn .menu + .container ul,
  mobile-navigation .support .menu + .container ul {
    padding-left: 5.3333333333vw;
    display: flex;
    flex-direction: column;
    row-gap: 2.6666666667vw;
    margin-bottom: 2.6666666667vw;
  }
  mobile-navigation .learn .menu + .container ul:last-child,
  mobile-navigation .support .menu + .container ul:last-child {
    margin-bottom: 0px;
  }
  mobile-navigation .learn .menu + .container ul p,
  mobile-navigation .support .menu + .container ul p {
    display: flex;
    align-items: center;
    column-gap: 2.6666666667vw;
  }
  mobile-navigation .learn .menu + .container ul svg,
  mobile-navigation .support .menu + .container ul svg {
    width: 6.4vw;
    height: 6.4vw;
  }
  mobile-navigation .learn .menu + .container ul li,
  mobile-navigation .support .menu + .container ul li {
    padding-left: 13.3333333333vw;
    list-style: none;
    color: #333;
    font-family: "Open Sans";
    font-size: 3.7333333333vw;
    font-style: normal;
    font-weight: 400;
  }
  mobile-navigation .support .menu + .container {
    padding: 5.3333333333vw 0px;
    background: #fafafa;
  }
  mobile-navigation a.menu svg {
    transform: rotate(270deg);
  }
  mobile-navigation .community .container {
    background-color: #fafafa;
  }
  mobile-navigation .community .container .wrapper-content {
    padding: 0vw 5.3333333333vw;
  }
  mobile-navigation .community .container .left {
    border-bottom: 0.2666666667vw solid #d0d0d0;
  }
  mobile-navigation .community .container .wrapper-content > div {
    padding: 6.6666666667vw 0px;
    display: flex;
    justify-content: space-between;
  }
  mobile-navigation .community .container .wrapper-content > div .content-container {
    display: flex;
    column-gap: 4vw;
  }
  mobile-navigation .community .container .wrapper-content > div img {
    width: 9.6vw;
    height: 9.6vw;
    display: block;
  }
  mobile-navigation .community .container .title {
    color: #000;
    font-family: "Open Sans";
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  mobile-navigation .community .container .desc {
    color: #000;
    font-family: "Open Sans";
    font-size: 2.6666666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 44.2666666667vw;
  }
  mobile-navigation .community .container .btn {
    width: 11.3333333333vw;
    height: 6vw;
    border: 0.2666666667vw solid #2b72ff;
    text-align: center;
    line-height: 5.3333333333vw;
    color: #2b72ff;
    font-family: "Open Sans";
    font-size: 2.6666666667vw;
    font-style: normal;
    margin: auto 0px;
    font-weight: 600;
  }
  .Software svg {
    width: 4vw;
    height: 4vw;
    transition: all 0.3s ease;
    transform: rotate(270deg);
  }
  toggle-navigation .container {
    padding: 0px;
  }
  toggle-navigation .contact-us {
    width: 100%;
    padding: 4.8vw 5.3333333333vw;
    color: #333;
    font-family: "Open Sans";
    font-size: 4.2666666667vw;
    font-style: normal;
    font-weight: 600;
    display: flex;
    border-bottom: 0.2666666667vw solid #ddd;
    justify-content: space-between;
    align-items: center;
  }
  toggle-navigation .contact-us svg {
    width: 4vw;
    height: 4vw;
    transition: all 0.3s ease;
    transform: rotate(270deg);
  }
  toggle-navigation .select-country {
    padding: 6.6666666667vw 5.3333333333vw;
    display: flex;
    align-items: center;
    column-gap: 2.6666666667vw;
  }
  toggle-navigation .select-country p {
    color: #333;
    font-family: "Open Sans";
    font-size: 3.7333333333vw;
    font-style: normal;
    font-weight: 400;
  }
  toggle-navigation .toggle-country-popup {
    display: block;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: var(--header-height);
  }
  toggle-navigation .toggle-country-popup .title {
    display: none;
  }
  toggle-navigation .toggle-country-popup .mb-arrows {
    height: 18.1333333333vw;
    padding-left: 5.3333333333vw;
    display: flex;
    align-items: center;
    border-bottom: 0.2666666667vw solid #d0d0d0;
    position: sticky;
    top: 0px;
    background-color: #fff;
  }
  toggle-navigation .toggle-country-popup .mb-arrows svg {
    width: 4vw;
    height: 4vw;
    transition: all 0.3s ease;
    transform: rotate(90deg);
  }
  toggle-navigation .toggle-country-popup ul p {
    display: none;
  }
  toggle-navigation .toggle-country-popup ul li {
    margin: 0px 5.3333333333vw;
    border-bottom: 0.2666666667vw solid #d0d0d0;
    padding: 5.3333333333vw 0px;
    display: flex;
    flex-direction: column;
  }
  toggle-navigation .toggle-country-popup ul li span {
    color: #4d4d4d;
    font-family: "Open Sans";
    font-size: 4.2666666667vw;
    font-style: normal;
    line-height: normal;
  }
  toggle-navigation .toggle-country-popup ul li span:nth-child(1) {
    font-weight: 600;
  }
  toggle-navigation .toggle-country-popup ul li span:nth-child(2) {
    font-weight: 400;
  }
  toggle-navigation .toggle-country-popup.active {
    display: block;
  }
  toggle-navigation .toggle-country-popup {
    display: none;
  }
  toggle-navigation .toggle-country-popup.active {
    display: block;
  }
  toggle-navigation .popup-content {
    height: calc(100vh - var(--header-height));
    overflow: auto;
  }
}