.home-Introduction {
  background: #f0f2f4;
}
.home-Introduction .container p {
  padding: 0;
  margin: 0;
}
.home-Introduction .container .title {
  color: #000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin: auto;
}
.home-Introduction .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-Introduction .container .content .item-title {
  color: #2b72ff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.home-Introduction .container .content .item-desc {
  color: #000;
  font-family: "Open Sans";
  text-align: center;
  font-style: normal;
  font-weight: 400;
}
.home-Introduction .container .grid-title {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}
.home-Introduction .container .grid-desc {
  color: rgba(0, 0, 0, 0.93);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 1000px) {
  .home-Introduction {
    padding: 70px 0 50px;
  }
  .home-Introduction .container .title {
    font-size: 48px;
    margin-bottom: 44px;
    line-height: 57px;
  }
  .home-Introduction .container .content {
    display: flex;
    justify-content: center;
    column-gap: 77px;
    align-items: center;
  }
  .home-Introduction .container .content .item-title {
    font-size: 32px;
  }
  .home-Introduction .container .content .item-desc {
    font-size: 14px;
  }
  .home-Introduction .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 56px;
    gap: 20px;
  }
  .home-Introduction .grid-container .grid-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 33px;
    border-radius: 6px;
  }
  .home-Introduction .grid-container .grid-item img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 23px auto 20px;
    border-radius: 50%;
  }
  .home-Introduction .grid-container .grid-item .grid-title {
    font-size: 18px;
  }
  .home-Introduction .grid-container .grid-item .grid-desc {
    font-size: 16px;
    margin-top: 20px;
  }
}
@media (max-width: 1000px) {
  .home-Introduction {
    padding: 8.5333333333vw 0;
  }
  .home-Introduction .container {
    padding: 0px 5.0666666667vw;
  }
  .home-Introduction .container .title {
    font-size: 6vw;
    margin-bottom: 8vw;
    line-height: normal;
    text-align: left;
  }
  .home-Introduction .container .content {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4.6666666667vw 5.3333333333vw;
  }
  .home-Introduction .container .content .item-title {
    font-size: 4vw;
    text-align: left;
    line-height: normal;
    white-space: nowrap;
  }
  .home-Introduction .container .content .item-desc {
    font-size: 2.6666666667vw;
    text-align: left;
    line-height: normal;
  }
  .home-Introduction .container .grid-container {
    margin-top: 6.6666666667vw;
    display: flex;
    overflow: auto;
    column-gap: 2.6666666667vw;
  }
  .home-Introduction .container .grid-container .grid-item {
    width: 47.7333333333vw;
    flex-shrink: 0;
    background-color: #fff;
  }
  .home-Introduction .container .grid-container .grid-item img {
    width: 10.6666666667vw;
    height: 10.6666666667vw;
    margin: 6.2666666667vw auto 3.7333333333vw;
    display: block;
    border-radius: 50%;
  }
  .home-Introduction .container .grid-container .grid-item .grid-title {
    font-size: 2.6666666667vw;
    margin-bottom: 1.3333333333vw;
  }
  .home-Introduction .container .grid-container .grid-item .grid-desc {
    font-size: 2.1333333333vw;
    padding: 1.3333333333vw;
  }
}