@media (min-width: 1000px) {
  .update-faq {
    padding: 60px 0px;
  }
  .update-faq .container h2.title {
    color: #333;
    font-family: "Open Sans";
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 44px;
    text-align: center;
  }
  .update-faq .container .faq__item .collapsible-toggle,
  .update-faq .container .collapsible__content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .update-faq .container button {
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
  .update-faq .container button[aria-expanded=true] {
    color: #2b72ff;
  }
  .update-faq .container .text-container {
    display: flex;
    align-items: flex-start;
    column-gap: 23px;
    flex-direction: column;
  }
  .update-faq .container .text-container span {
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #333333;
  }
  .update-faq .container .text-container p {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;
    text-align: left;
  }
}
@media (max-width: 1000px) {
  .update-faq {
    padding: 8vw 0px;
  }
  .update-faq h2.title {
    text-align: center;
    font-family: "Open Sans";
  }
  .update-faq p {
    text-align: left;
  }
  .update-faq .faq__item {
    padding-left: 0px;
    padding-right: 0px;
  }
  .update-faq button {
    font-family: "Open Sans";
  }
  .update-faq button[aria-expanded=true] {
    color: #2b72ff;
  }
}