<link rel='stylesheet' href='{{ 'material-setting.css' | asset_url }}'>

<div id='Program'>
  <a href='https://atomstack.com/products/atomstack-hurricane'>
    <img
      width='100%'
      height='100%'
      src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/K60_banner_1d851e61-414f-4a31-9b60-7f5428570487.jpg?v=1726146119'
      width='100%'
      height='600'
      alt=''
    >
  </a>

  <!-- <div class="banner"></div> -->
  <p class='mb-title'>Search by product</p>

  <div class='product-wrapper'>
    <div class='product-ul'>
      <ul>
        <li class='active'>
          <span>CO2 Laser Cutter</span>
        </li>
        {% comment %}
          <li>
            <span>X Series</span>
          </li>
        {% endcomment %}
        <li>
          <span>A Series</span>
        </li>
        {% comment %}
          <li>
            <span>S Series</span>
          </li>
        {% endcomment %}
      </ul>
    </div>
    <div class='container'>
      <p class='title'>Search by product</p>
      <div class='product-info'>
        {% comment %} CO2 Laser Cutter {% endcomment %}
        <div class='item flex-item swiper swiper-0'>
          <div class='swiper-wrapper'>
            <div class='product-img swiper-slide active swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/K60.jpg?v=1726064127'
                class='imgBorder'
              >
              <p>AtomStack Hurricane</p>
            </div>
          </div>
        </div>
        {% comment %} X系列 {% endcomment %}
        {% comment %}
          <div class='item hidden flex-item swiper swiper-1'>
            <div class='swiper-wrapper'>
              <div class='product-img swiper-slide active swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/100x100.jpg?v=1677641245'
                  class='imgBorder'
                >
                <p>A20Pro V2</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/A10-PRO_fedbed57-d2de-4742-bd89-ba79e3ced0ae.jpg?v=1673514761'
                >
                <p>A10 Pro</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/A20-PRO_ec6c56fe-8a0f-44af-abaa-d3013c63f440.jpg?v=1673514882'
                >
                <p>A20 Pro</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/A5-M30_1041a3d4-c5b5-481d-84eb-9b3c8d1f9909.jpg?v=1673514950'
                >
                <p>A5 M30</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/A5-M40_d9a732e4-a3fb-4465-977e-e02b6015d101.jpg?v=1673515039'
                >
                <p>A5 M40</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/A5-PRO_1567b9bc-b888-47f5-8d80-30a9803404fb.jpg?v=1673515098'
                >
                <p>A5 Pro</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/A5-PRO_4ec81aa7-c891-40d3-b4cd-cff32491b179.jpg?v=1673515180'
                >
                <p>A5 Pro+</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/A5-20W_30W_7fc5696d-ab7d-4115-981d-6b032b7335dc.jpg?v=1673515238'
                >
                <p>A5 20W / 30W</p>
              </div>
            </div>
            <div class='swiper-pagination'></div>
            <div class='swiper-button'>
              <div class='swiper-button-prev swiper-button-prev-1'></div>
              <div class='swiper-button-next swiper-button-next-1'></div>
            </div>
          </div>
        {% endcomment %}

        {% comment %} p系列 {% endcomment %}
        {% comment %}
          <div class='item hidden flex-item swiper swiper-2'>
            <div class='swiper-wrapper'>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/P9-M50.jpg?v=1673515352'
                >
                <p>P9 M50</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/P9-M40.jpg?v=1673515398'
                >
                <p>P9 M40</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/P7-M30.jpg?v=1673515302'
                >
                <p>P7 M30</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/P7-M40.jpg?v=1673515522'
                >
                <p>P7 M40</p>
              </div>
            </div>
            <div class='swiper-pagination'></div>
            <div class='swiper-button'>
              <div class='swiper-button-prev swiper-button-prev-2'></div>
              <div class='swiper-button-next swiper-button-next-2'></div>
            </div>
          </div>
        {% endcomment %}
        {% comment %} s系列 {% endcomment %}

        <div class='item hidden flex-item swiper swiper-3'>
          <div class='swiper-wrapper'>
            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A70_MAX_b5fec171-b381-4cd8-9655-a42ec3ef3bc6.jpg?v=1726142309'
              >
              <p>A70 Max</p>
            </div>
            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A70_PRO_440463f8-658e-447c-a23e-273534486a07.jpg?v=1726140450'
              >
              <p>A70 Pro</p>
            </div>
            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A40_MAX_5a6011ca-0b17-430e-a1eb-363652a00faa.jpg?v=17261404504'
              >
              <p>A40 max</p>
            </div>
            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A24_PRO_c7b078b2-3f21-41af-bf85-da36af787a88.jpg?v=1726140450'
              >
              <p>A40 Pro</p>
            </div>

            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A24_Ultra_2b1fb176-5468-44c9-bc26-311cdfa46b5d.jpg?v=1726140450'
              >
              <p>A24 Ultra</p>
            </div>
            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A24_PRO_c7b078b2-3f21-41af-bf85-da36af787a88.jpg?v=1726140450'
              >
              <p>A24 Pro</p>
            </div>
            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A10_PRO_V2_d8412239-d171-48fa-bba3-657da6d40d85.jpg?v=1726140450'
              >
              <p>A10 pro v2</p>
            </div>

            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A20_PRO_V2_d87da958-99fa-4dd8-8f6a-e817928a988a.jpg?v=1726140450'
              >
              <p>A20 pro v2</p>
            </div>
            <div class='product-img swiper-slide'>
              <img
                width='100%'
                height='100%'
                src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/A40_PRO_V2_1207420c-a4ff-4785-9444-8eec52112b11.jpg?v=1726140450'
              >
              <p>A40 pro v2</p>
            </div>

            {% comment %}
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/S30-PRO.jpg?v=1708400907'
                >
                <p>S30 Pro</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/S20-PRO.jpg?v=1673515612'
                >
                <p>S20 Pro</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/S10-PRO.jpg?v=1673515600'
                >
                <p>S10 Pro</p>
              </div>
            {% endcomment %}
          </div>
          <div class='swiper-pagination'></div>
          <div class='swiper-button'>
            <div class='swiper-button-prev swiper-button-prev-3'></div>
            <div class='swiper-button-next swiper-button-next-3'></div>
          </div>
        </div>
        {% comment %}
          <div class='item hidden flex-item swiper swiper-4'>
            <div class='swiper-wrapper'>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopify.com/s/files/1/0790/2586/4977/files/X30-PRO.jpg?v=1708400907'
                >
                <p>X30 Pro</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/X20-PRO.jpg?v=1673515700'
                >
                <p>X20 Pro</p>
              </div>
              <div class='product-img swiper-slide'>
                <img
                  width='100%'
                  height='100%'
                  src='https://cdn.shopifycdn.net/s/files/1/0694/3034/6014/files/X7-PRO.jpg?v=1673515689'
                >
                <p>X7 Pro</p>
              </div>
            </div>
            <div class='swiper-pagination'></div>
            <div class='swiper-button'>
              <div class='swiper-button-prev swiper-button-prev-4'></div>
              <div class='swiper-button-next swiper-button-next-4'></div>
            </div>
          </div>
        {% endcomment %}
      </div>
    </div>
  </div>
  <div class='foot'>
    <p class='foot-title'>Model parameters</p>
    <div class='container'>
      <div class='table-title'>AtomStack Hurricane</div>
      <div class='table-scroll' style='width:100%'>
        <table class='foot-table' id='table1'>
          <thead>
            <tr>
              <th>Material Name</th>
              <th>Image format</th>
              <th>Thickness(mm)</th>
              <th>Line Interval / Quality</th>
              <th>Processing</th>
              <th>Speed</th>
              <th>Max-Power / S-Max</th>
              <th>Image Mode</th>
              <th>Number of Passes</th>
            </tr>
          </thead>
          <tbody id='tbody'></tbody>
        </table>
        <div class='hidden-bar'>
          <svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'>
            <path d="M36 12L24 24L12 12" stroke="#12224E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M36 24L24 36L12 24" stroke="#12224E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  {% section 'contact-us' %}
</div>

{{ 'material_setting_data.js' | asset_url | script_tag }}

<script>
  var url = document.querySelector('.product-ul');
  var lis = url.querySelectorAll('li');
  // 获取li对应的产品元素
  var product = document.querySelector('.product-info');
  var items = product.querySelectorAll('.item');

  const hiddenBar = document.querySelector('.hidden-bar');
  const tableScroll = document.querySelector('.table-scroll');

  hiddenBar.addEventListener('click', function () {
    tableScroll.classList.toggle('table-scroll-show');
    this.querySelector('svg').classList.toggle('rotate');
  });

  const swiperConfig = {
    slidesPerView: 'auto',
    spaceBetween: 20,
  };

  function initSwiper(containerClass, nextButtonClass, prevButtonClass) {
    return new Swiper(containerClass, {
      ...swiperConfig,
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: nextButtonClass,
        prevEl: prevButtonClass,
      },
    });
  }
  const swiper_0 = initSwiper('.swiper-0');
  // const swiper_1 = initSwiper('.swiper-1', '.swiper-button-next-1', '.swiper-button-prev-1');
  // const swiper_2 = initSwiper('.swiper-2', '.swiper-button-next-2', '.swiper-button-prev-2');
  const swiper_3 = initSwiper('.swiper-3', '.swiper-button-next-3', '.swiper-button-prev-3');
  // const swiper_4 = initSwiper('.swiper-4', '.swiper-button-next-4', '.swiper-button-prev-4');

  // 初始加载获取A系列产品
  var productImg = document.querySelector('.flex-item');
  var list = productImg.querySelectorAll('.product-img.swiper-slide');
  setTable(list);

  function setTable(arr) {
    let newArr = arr;
    for (let i = 0; i < newArr.length; i++) {
      newArr[i].setAttribute('index', i);
      let index;

      newArr[i].onclick = function () {
        for (var j = 0; j < newArr.length; j++) {
          newArr[j].children[0].className = '';
          newArr[j].classList.remove('active');
        }
        index = this.getAttribute('index');
        newArr[index].classList.add('active');
        newArr[index].children[0].className = 'imgBorder';
        // 获取选择的产品名称
        let innerHTML = newArr[index].children[1].innerHTML;
        const table = document.querySelectorAll('.table-scroll th')[1];

        if (innerHTML === 'AtomStack Hurricane') {
          table.innerHTML = 'Image format';
        } else {
          table.innerHTML = 'Software';
        }

        var title = document.querySelector('.table-title');
        title.innerHTML = innerHTML;
        var key = '';
        if (innerHTML == 'A5 Pro+') {
          key = 'A5Pro1';
        }
        if (innerHTML == 'A5 20W / 30W') {
          key = 'A520W30W';
        } else {
          key = innerHTML.replace(/\s*/g, ''); // 去除所有空格
        }
        bindTable(jsonData[key]);
      };
    }
  }

  for (var i = 0; i < lis.length; i++) {
    lis[i].setAttribute('index', i);
    var index;
    // li鼠标点击事件
    lis[i].onclick = function () {
      for (var j = 0; j < lis.length; j++) {
        items[j].classList.remove('flex-item');
        items[j].classList.add('hidden');
        lis[j].classList.remove('active');
      }
      // 添加样式
      index = this.getAttribute('index');
      items[index].classList.remove('hidden');
      items[index].classList.add('flex-item');
      this.classList.add('active');
      // 获取对应的产品
      var productImg = items[index].querySelectorAll('.product-img.swiper-slide');
      setTable(productImg);
    };
  }
  // 初始加载table
  bindTable(jsonData.AtomStackHurricane);

  function bindTable(arr) {
    var tbody = document.querySelector('tbody');
    var tableData = arr;
    var str = '';
    for (var i = 0; i < tableData.length; i++) {
      let obj = tableData[i];
      str += `
         <tr>
          <td >
          <span>${obj.name}</span>
          </td>
          <td >
          <span>${obj.software}</span>
          </td>
           <td >
          <span>${obj.thickness}</span>
          </td>
         <td >
         <span>${obj.quality}</span>
         </td>
           <td >
           <span>${obj.processing}</span>
        </td>
          <td >
           <span>${obj.speed}</span>
         </td>
          <td >
          <span>${obj.max}</span>
        </td>
         <td >
           <span>${obj.mode}</span>
         </td>
        <td >
           <span>${obj.number}</span>
          </td>
       </tr>
     `;
    }
    tbody.innerHTML = str;
    mergeFunc('table1'); //合并重复行
  }
  //合并相同行
  function mergeFunc(tableId) {
    var tab = document.getElementById(tableId);
    var maxCol = 2; //maxcol用于设置需要合并的列数
    var count, start;
    for (var col = maxCol - 1; col >= 0; col--) {
      //用于存储相同个数
      count = 1;
      for (var i = 0; i < tab.rows.length; i++) {
        if (
          i > 0 &&
          col > 0 &&
          tab.rows[i].cells[col].innerHTML == tab.rows[i - 1].cells[col].innerHTML &&
          tab.rows[i].cells[col - 1].innerHTML == tab.rows[i - 1].cells[col - 1].innerHTML
        ) {
          count++;
        } else if (i > 0 && col == 0 && tab.rows[i].cells[col].innerHTML == tab.rows[i - 1].cells[col].innerHTML) {
          count++;
        } else {
          if (count > 1) {
            //合并
            start = i - count;
            tab.rows[start].cells[col].rowSpan = count;
            for (var j = start + 1; j < i; j++) {
              //
              tab.rows[j].removeChild(tab.rows[j].cells[col]);
            }
            count = 1;
          }
        }
      }
      if (count > 1) {
        //合并，最后几行相同的情况下
        start = i - count;
        tab.rows[start].cells[col].rowSpan = count;
        for (var j = start + 1; j < i; j++) {
          tab.rows[j].removeChild(tab.rows[j].cells[col]);
        }
      }
    }
  }
</script>
